
.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #2a2a2a;
}
.last-text p{
    color: #fff;
    font-size: 14px;
}
.top i{
    font-size: 24px;
    font-weight: 1000;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    background: #ff004f;
}
@media only screen and (max-width:1140px) {
   
} 
@media only screen and (max-width:479px) {
    
}